:root {
  --title-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-bg-color: #2f303a;
  --logo-color: #000000;
  --third-bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--title-text-color);
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.studio,
.logo-item {
  color: var(--accent-color);
}

/* site-nav */
.link:hover,
.link:focus,
.link.current {
  color: var(--accent-color);
}

.site-nav a {
  font-family: 'Raleway';
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.list .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

/* Замовити послугу */
.hat {
  background-color: var(--secondary-bg-color);
}

.hat-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* Кнопки */
button {
  cursor: pointer;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  color: var(--title-text-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

/* Особливості */
.section-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-text {
  line-height: 1.71;
  color: var(--title-color);
}

/* team-Наша команда */
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.teams {
  background-color: var(--title-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list {
  background-color: var(--third-bg-color);
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Contacts */
.footer {
  background-color: var(--secondary-bg-color);
}

.contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-decoration: none;
}

[href*='maps'] {
  color: var(--title-text-color);
  text-decoration: none;
}
.contacts .link {
  color: rgba(255, 255, 255, 0.6);
}

body .link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Портфолио */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-color);
}
